body{
	background: #fff
}
@keyframes slideR{
	from{
		opacity: 0;
		transform: translateX(15px);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes slideR{
	from{
		opacity: 0;
		transform: translateX(15px);
	}
	to{
		opacity: 1;
		transform: translateX(0);
	}
}
.main{
	max-width: 100%;
}
.main.active .sidebar .mist-top,.main.active .container,.main.active ~ footer{
	-webkit-transform: translate3d(-200px, 0, 0);
	-ms-transform: translate3d(-200px, 0, 0);
	-o-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);
}
.sidebar{
	float: none;
	width: 100%;
}
.sidebar .mist-top{
	max-width: 960px;
	margin:0px auto;
	margin-top: 100px;
	transition: all .3s ease-out;
	text-align:center;
}
.sidebar .title{
	display: inline-block;
	line-height: 40px;
	height: 40px;
	color: #fff;
	padding:0 40px;
}
.sidebar .title:before{
	top: 14px;
	transform-origin: left;
}
.sidebar nav{
	margin-top: 15px;
	background: transparent;
}
.sidebar nav *{
	display: inline-block;
}
.sidebar nav a *{
	display: block;

}
.sidebar .sidebar-inner{
	position: fixed;
	top: 0;
	right:-320px;
	width: 320px;
	height: 100%;
	background: #222;
	padding: 2em 0;
	box-sizing: border-box;
	margin: 0;
	z-index: 10;
	transition: all .5s;
} 
.sidebar .sidebar-inner.active{
	transition: all .3s ease;
	right: 0
}
.sidebar .sidebar-inner div{
	background: #222
}
.sidebar .sidebar-inner .tabs .active{
	border-bottom: 1px solid  #87daff 
}
.sidebar .sidebar-inner .active{
	color: #87daff !important
}
.sidebar .sidebar-inner a:hover, .sidebar .sidebar-inner a:hover *{
	color: #ccc 
}
.sidebar-inner .avatar .author{
	color: #f5f5f5
}
.sidebar-inner .avatar img{
	max-width: 96px;
}
.tab li + li:before{
	background: #333
}
.sidebar .sidebar-inner *{
	color: #999;
}
.sidebar-inner .tab {
	-webkit-animation-delay: .1s;
	-o-animation-delay: .1s;
	animation-delay: .1s;
}
.sidebar-inner .rss {
	-webkit-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}

.sidebar-inner .menu-social-container {
	-webkit-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}
.sidebar-inner .friend-link {
	-webkit-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}
.sidebar .sidebar-inner .tab a:hover *{
	color: #eee !important;
	cursor: pointer;
}
.sidebar-inner .rss{
	padding: 20px;
	border: none;
}
.sidebar-inner .rss a{
	border: 1px solid #fc6423;
    padding: 3px 15px;
    border-radius: 4px;
    color: #fc6423;
}
.sidebar-inner .rss a .fa{
	color: #fc6423;
}
.sidebar-inner .rss a:hover{
	background: #fc6423;
	color: #fff
}.sidebar-inner .rss a:hover .fa{
	color: #fff
}.sidebar-inner.active *{
	-webkit-animation-name: slideR;
	animation-name: slideR;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.menu-social-container,.sidebar-inner  .friend-link{
	border: none;
	text-align: center;
}.menu-social-container li{
	width: auto;
	margin:5px;
	border-bottom: 1px solid #555
}
.friend-link li{
	margin: 5px
}
.menu-social-container li:before{
	display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    content: " ";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgb(170, 105, 185);
}
#backTop{
	background: #222;
	z-index: 11;
}
#sidebar-toggle{
	position: fixed;
	right:50px;
	bottom:80px;
	width: 20px;
	height: 20px;
	padding: 4px;
	background: #222;
	text-align: center;
	-webkit-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	z-index: 11;
}
#sidebar-toggle .sidebar-toggle-wrap{
	font-size: 0
}
#sidebar-toggle .item{
	position: relative;
	right: 0;
	display: inline-block;
	width: 20px;
	height: 2px;
	background: #fff;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
	transform-origin: right;
}
#sidebar-toggle .item-middle{
	margin: 5px 0
}
#sidebar-toggle.active .item-top{
	transform: rotateZ(-45deg);
	right: 4px;
}
#sidebar-toggle.active .item-middle{
	opacity: 0
}
#sidebar-toggle.active .item-bottom{
	right: 4px;
	transform: rotateZ(45deg);
}
.container{
	float: none;
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	transition: all .3s ease-out
}
article .read-more a{
	background: #222;
	color: #fff
}
article .read-more a:hover{
	background: #fff;
	color: #222
}
footer {
	padding: 15px 0;
	max-width: 100%;
	transition: all .3s ease-out
}
footer div{
	max-width: 960px;
	margin:0 auto;
	color: #666
}

@media (min-width: 991px and max-width: 1600px){
	.sidebar .mist-top,.container,footer div{
		width:700px;
	}
}

@media (max-width: 991px){
	#sidebar-toggle{
		display: none;
	}
	.main.active .sidebar .mist-top, .main.active .container, .main.active ~ footer{
		transform: translate(0);
	}
	.container{
		width: 100%;
		padding: 20px;
	}
	.sidebar .mist-top{
		margin: 0px
	}
	.sidebar .title{
		background: #fff;
		padding: 14px

	}
	.sidebar .title h1{
		color: #222
	}
	.sidebar nav{
		float: left;
		width: 100%;
		text-align: left;
		height: 0;
		padding: 0;
		box-sizing: border-box;
		overflow: hidden;
		padding: 0 !important;
	}
	.sidebar nav *{
		display: block;
	}
	.sidebar nav li{
		display: block;
	}

	.sidebar nav a *{
		display: inline-block;
	}
	.sidebar nav.show{
		padding: 1em 0
	}
	.toggle-nav{
		left: inherit;
		right: 14px
	}

	.sidebar .title{
		display: block;
		text-align: left;
	}
	.sidebar .title h1{
		left: 5%;
		font-weight: 600
	}
	.sidebar .title:before,.sidebar .title:after{
		display: none;
	}
	.toggle-nav .btn-bar{
		background: #222
	}
	article .title,article .read-more{
		text-align: center;
	}
	article .title h1{
		font-size: 20px
	}
	article .content{
		font-size: 15px
	}
	footer{
		text-align: center;
	}

}